<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">

    <div class="askForm">
      <form action="/answer" method="get">

        <div class="form-group">
          <label for="question">Speak to your coach</label>
          <input class="form-control" type="text" id="question" name="query" placeholder="Your message">
          <input class="btn btn-primary" type="submit" value="Go on!">
        </div>
      </form>
    </div>
  </div>
</div>
